.content{
    font-size: 1rem;
}


.img-fluid{
    width:100%;
}
.detailpage .card-img-top{
    /* height:300px;
    width:80%; */
}
.detailpage .description{
    font-size:medium;
    font-weight: 600;
line-height:40px;
}
.detailpage  .data{
    color:#dbc51a;
    /* background-color: #af763d!important; */
    font-size: large;
    font-weight:800;
    padding-left:5opx !important;
    letter-spacing:3px;
}
.detailpage .title{
    font-size:larger;
    font-weight: 900;
    color:orange !important;
    margin-top:20px;
    letter-spacing:3px;
}
.detailpage p{
    /* margin-top:-5px !important; */
}
.detailpage .card-title,.detailpage td{
    color:white;
    font-weight: 700;
}
.detailpage .content{
    color:white;
    letter-spacing:2px;
    line-height:40px;
    font-size:20px;
}
.detailpage  li{
    list-style:none;
    text-decoration:none;
    margin-left:20px;
    font-weight:700;
    color:orange ;
    letter-spacing:1.5px;
    margin-top:10px;
}
.detailpage a{
    text-decoration:none !important;
    color:orange !important;

}
.detailpage   li a:hover{
    letter-spacing:2px;
     color:blue !important;
}
.detailpage .details{
    margin-top:100px !important;
    color:white !important;
}
.detailpage .onwer_blog{
    margin-top:100px !important;
}
.detailpage{
background-color: #0c1022 !important;
}

.detailpage .card-img-top{
border-radius: 50px;
padding: 20px;
height:300px;
width:800px;
border-radius: 0px 20px 50px 10px;
object-fit:cover;
}
.detailpage .card{
border-radius: 30px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.detailpage .card-body{
padding: 25px;
margin-top: -15px;
}
.detailpage .btn-primary{
border-radius: 50px;
width: 120px;
}
.detailpage .btn-primary:hover{
background-color: black;
border: none;
}
li{
    color:white !important;
}
